* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS */
.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #08593e;
}

.cormorant {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ELEMENTS */

body {
  color: #2E2E2E;
}

img {
  width: 100%;
  object-fit: cover;
}

nav {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  height: 4rem;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;

  & > div {
    display: flex;
    gap: .5rem;
    align-items: center;
  }

  h2 {
    a {
      text-decoration: none;
      &:visited {
        color: inherit;
      }
    }
  }

  .lang-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

    &:not(.selected) {
      opacity: 0.5;
    }
  }
}

main {
  display: grid;
  font-family: "Montserrat", sans-serif;

  @media (min-width: 600px) {
    gap: 2rem;
  }
}

main > article {
  display: grid;
  gap: 1.5rem;
}

h1, h2 {
  font-family: "Rammetto One", sans-serif;
}

/* SECTIONS */

/* INTRO + HERO */
.intro {
  @media (min-width: 1000px) {
    max-width: 100ch;
    margin: 0 auto;
  }

  img {
    height: 100%;
  }

  .hero {
    color: #08593e;
    text-wrap-style: balance;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    min-height: calc(100vh - 4.5rem);;

    .hero-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,25%);
      height: 100%;
      display: grid;
      align-content: end;
      padding-bottom: 3rem;
      padding-left: 1rem;

      .intro-text {
        font-family: "Rammetto One", sans-serif;
        color: white;
        font-size: 2.5rem;
        line-height: 1;
        text-wrap-style: balance;

        @media (min-width: 600px) {
          font-size: 4rem;
        }
      }
    }
  }
}

/* WHAT WHERE WHEN */
.what-where-when {
  background: #08593e;
  color: white;
  padding: 1rem;

  .column {
    display: grid;
    gap: 2rem;
  }

  .cards {
    display: grid;
    gap: 1rem;

    @media (min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  article {
    border: 1px solid rgba(255, 255, 255, 30%);
    padding: 1rem;
    border-radius: 8px;

    @media (min-width: 600px) {
      text-align: center;
    }
  }

  .countdown {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    justify-content: center;
    text-align: center;
    font-family: "Rammetto One", sans-serif;
    font-size: 1.5rem;

    div {
      display: grid;
      gap: .25rem;

      small {
        font-size: 0.75rem;
      }
    }
  }

  & > a {
    color: white;
  }
}

/* INFO SECTION */
.info-section {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 2rem;
  display: grid;
  gap: 2rem;

  article {
    display: grid;
    gap: 1.25rem;

    div {
      display: grid;
      gap: 0.5rem;
    }
  }

  ul {
    list-style: none;
    display: grid;
    gap: .5rem;
  }
}

/* FAQ */

.faq {
  border-top: 1px solid #08593e;
  padding: 1.5rem 2rem;
  display: grid;
  gap: 1rem;
  background: #08593e;
  color: white;

  h1 {
    text-align: center;
    text-decoration: underline;
  }

  article {
    display: grid;
    gap: 1.5rem;

    div {
      display: grid;
      gap: .5rem;
    }
  }

}

/* COMPONENTS */
.btn {
  justify-self: center;
  background: white;
  display: block;
  min-width: 200px;
  padding: 1rem .5rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: background .2s, color .2s, border .2s;
  font-family: "Montserrat", sans-serif;

  &:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
  }

  &.btn--dark {
    background: #08593e;
    color: white;

    &:hover {
      background: transparent;
      color: #08593e;
      border: 1px solid #08593e;
    }
  }

  &.btn--sm {
    min-width: 100px;
    padding: .5rem;
    border-radius: 5px;
  }
}

.big-p {
  padding: 2rem;
  font-size: 1.25rem;
  font-family: "Rammetto One", sans-serif;
  color: #08593e;
  /* text-wrap-style: balance; */

  @media (min-width: 1000px) {
    font-size: 3rem;
  }

  a {
    display: inline;
  }
}

.column {
  display: grid;

  @media (min-width: 1000px) {
    max-width: 100ch;
    margin: 0 auto;
  }
}

.column-2 {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;

  @media (min-width: 1000px) {
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.info-p {
  background: #08593e;
  color: white;
  padding: .5rem;
}

.rsvp {
  max-width: 800px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  iframe {
    min-height: 800px; /* adjust depending on form length */
    width: 100%;
  }
}

/* UTILITY CLASSES */
.font-light {
  color: white;
}