<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rammetto+One&display=swap" rel="stylesheet">
  <!-- Custom Styles -->
  <link rel="stylesheet" href="stylesheets/root.css">
  <link rel="stylesheet" href="stylesheets/nav.css">
  <link rel="stylesheet" href="stylesheets/rsvp.css">

  <title>Chris & Charlotte 2026 | Home</title>
</head>
  <body>
    <nav class="lang-switcher position-fixed top-0 end-0 p-3 z-3">
      <h2><a href="index.html">C&C</a></h2>
    </nav>

    <main class="rsvp">
      <h1>RSVP</h1>
      <iframe 
        src="https://docs.google.com/forms/d/e/1FAIpQLSc4CerNKKpccR-Ah7RljkOKSX2y0FoIfy2fAS0IwO2fO-nHCw/viewform?embedded=true"
        frameborder="0" 
        marginheight="0" 
        marginwidth="0">
        Loading…
      </iframe>
    </main>

  </body>
</html>