.banner {
  grid-column: full-start / full-end;
  background: var(--color-primary);
  color: var(--color-light);

  @media (min-width: 768px) {
    margin-top: var(--sp-lg);
    padding-block: var(--sp-lg);
  }

  .container {
    display: grid;
    gap: var(--sp-md);

    .countdown {
      display: grid;
      grid-template-columns: repeat(4, auto);
      gap: var(--sp-sm);
      justify-content: center;
      text-align: center;
      font-family: var(--font-fun);
      font-size: 1.5rem;

      div {
        display: grid;

        small {
          font-size: 0.75rem;
          font-family: var(--font-sans-serif);
        }
      }
    }

    .items {
      display: grid;
      gap: var(--sp-sm);

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        margin: 0 auto;
      }
      
      .item {
        border: 1px solid rgba(255, 255, 255, 30%);
        padding: var(--sp-sm);
        border-radius: 8px;
        font-size: 1rem;
        text-align: center;

        a {
          color: var(--color-light);
        }
      }
    }
  }

  small {
    text-align: center;
    text-wrap-style: balance;
  }
}
