footer {
  display: grid;
  gap: var(--sp-md);
  background: var(--color-primary);
  color: var(--color-light);
  align-content: center;
  min-height: calc(100svh - var(--nav-height));

  @media (min-width: 768px) {
    margin-top: var(--sp-lg);
    padding-block: var(--sp-xl);
  }

  img {
    aspect-ratio: initial;
  }

  p {
    font-size: var(--fs-lg);
    font-family: var(--font-fun);
    text-wrap-style: balance;

    @media (min-width: 768px) {
      text-align: left;
      font-size: var(--fs-xl);
    }
  }
}