.hero {
  grid-column: full-start / full-end;
  position: relative;
  height: 100%;
  min-height: calc(100svh - var(--nav-height));
  font-family: var(--font-fun);
  color: var(--color-light);
  font-size: 2.5rem;
  line-height: 1;

  @media (min-width: 768px) {
    font-size: 4rem;
    max-width: 600px;
    margin: 0 auto;
  }

  .overlay {
    display: grid;
    gap: var(--sp-md);
    align-content: end;
    justify-content: start;
    padding: 0 0 var(--sp-md) var(--sp-md);

    @media (min-width: 768px) {
      font-size: 3rem;
      padding: var(--sp-lg) 0 var(--sp-lg) var(--sp-lg);
    }

    .countdown {
      display: grid;
      grid-template-columns: repeat(4, auto);
      gap: var(--sp-sm);
      font-family: var(--font-fun);
      font-size: 1.5rem;

      div {
        display: grid;

        small {
          font-size: 0.75rem;
          font-family: var(--font-sans-serif);
        }
      }
    }
  }

  img {
    height: 100%;
  }
}