.info-section {
  @media (min-width: 800px) {
    display: grid;
    gap: 5rem;
  }

  .col-2 {
    @media (min-width: 800px) {
    gap: 5rem;
    &:nth-child(even) {
      direction: rtl;
    }

    &:nth-child(even) > * {
      direction: ltr;
    }
  }

  .card {
    position: relative;

    img {
      display: block;
      aspect-ratio: 6 / 8;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-family: var(--font-fun);
    }
  }

  .info-text {
    display: grid;
    gap: 1.25rem;

    h3 {
      margin-bottom: .25rem;
    }

    ul {
      list-style: none;
      display: grid;
      gap: .25rem;
    }

    & > div {
      display: grid;
      gap: .5rem;
    }

    a:not(.btn) {
      color: var(--color-primary);
    }
  }

  .highlight {
    color: var(--color-primary);
    font-weight: bold;
  }
}