.info-section {
  @media (min-width: 768px) {
    display: grid;
    gap: var(--sp-xl);
  }

  .col-2 {
    @media (min-width: 768px) {
      gap: var(--sp-xl);

      &:nth-child(even) {
        direction: rtl;
      }

      &:nth-child(even) > * {
        direction: ltr;
      }
    }
  }

  .card {
    position: relative;
  }

  .info-text {
    display: grid;
    gap: var(--sp-md);

    .title {
      font-family: var(--font-fun);
      font-size: var(--fs-lg);
    }

    .address {
      color: var(--color-primary);
    }

    .text-lines {
      margin-top: var(--sp-xs);
      display: grid;
      gap: var(--sp-xs);
      opacity: 0.8;
    }

    ul {
      list-style: none;
      display: grid;
      gap:  var(--sp-xs);
    }

    a:not(.btn) {
      color: var(--color-primary);
      padding-bottom: var(--sp-xs);
      display: block;
    }
  }

  .highlight {
    color: var(--color-primary);
    font-weight: bold;
  }
}