.info-section {
  @media (min-width: 768px) {
    display: grid;
    gap: var(--sp-xl);
  }

  .col-2 {
    @media (min-width: 768px) {
    gap: var(--sp-xl);

    &:nth-child(even) {
      direction: rtl;
    }

    &:nth-child(even) > * {
      direction: ltr;
    }
  }

  .card {
    position: relative;
  }

  .info-text {
    display: grid;
    gap: var(--sp-sm);

    ul {
      list-style: none;
      display: grid;
      gap:  var(--sp-xs);
    }

    & > div {
      display: grid;
      gap: var(--sp-sm);
    }

    a:not(.btn) {
      color: var(--color-primary);
    }
  }

  .highlight {
    color: var(--color-primary);
    font-weight: bold;
  }
}