nav {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.08);
  display: flex;
  gap: var(--sp-xs);
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  padding-inline: var(--sp-sm);
  position: sticky;
  top: 0;
  background: var(--color-light);
  color: var(--color-primary);
  z-index: 1;

  a.brand {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.25rem;
    font-family: var(--font-fun);

    &:visited {
      color: var(--color-primary);
    }
  }

  .nav-links {
    display: flex;
    gap: var(--sp-sm);
    align-items: center;

    a {
      color: var(--color-primary);
    }

    .lang-icon {
      width: 25px;
      height: 25px;
      cursor: pointer;
      display: block;
      flex-shrink: 0;

      &:not(.selected) {
        opacity: 0.5;
      }
    }
  }
}