:root {
  --nav-height: 4rem;
  --color-primary: #08593e;
  --color-dark: #2E2E2E;
  --color-light: #fdfdfd;
  --font-sans-serif: 'Montserrat', sans-serif;
  --font-fun: 'Rammetto One', sans-serif;
  --fs-lg: 1.25rem;
  --fs-xl: 2rem;
  --sp-xs: .5rem;
  --sp-sm: 1rem;
  --sp-md: 1.25rem;
  --sp-lg: 2rem;
  --sp-xl: 4rem;
  --border-light: 1px solid var(--color-light);
  --border-primary: 1px solid var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: var(--nav-height);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-dark);
  font-family: var(--font-sans-serif);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 6 / 8;
}

main > article {
  display: grid;
  gap: 1.5rem;
}

h1, h2 {
  font-family: var(--font-fun);
}