.d-grid-container {
  display: grid;
  grid-template-columns: [full-start] 1.25rem [center-start] minmax(0, 1fr) [center-end] 1.25rem [full-end];

  @media (min-width: 600px) {
    grid-template-columns: [full-start] 2rem [center-start] minmax(0, 1fr) [center-end] 2rem [full-end];
  }

  & > * {
    grid-column: full-start / full-end;
  }
}

.container {
  padding: 1.25rem;
}

.col-2 {
  @media (min-width: 800px) {
    max-width: 100ch;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
  }
}

/* BIG STANDOUT PARAGRAPH */
.big-p {
  grid-column: center-start / center-end;
  padding-block: 1.25rem;

  @media (min-width: 1000px) {
    max-width: 100ch;
    margin: 0 auto;
  }

  p {
    font-size: 1.25rem;
    font-family: var(--font-fun);
    color: var(--color-primary);
    text-wrap-style: balance;

    @media (min-width: 1000px) {
      font-size: 2rem;
    }

    a {
      display: inline;
      color: inherit;
    }
  }
}

/* BUTTONS */
.btn,
a.btn {
  justify-self: center;
  background: transparent;
  display: block;
  padding: 1rem .5rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: background .2s, color .2s, border .2s;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  min-width: 200px;

  &.btn--primary {
    background: var(--color-primary);
    color: var(--color-light);;

    &:hover {
      background: transparent;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
    }
  }

  a.btn--light,
  &.btn--light {
    background: var(--color-light);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    
    &:hover {
      background: var(--color-primary);
      color: var(--color-light);
      border: 1px solid var(--color-light);
    }
  }

  &.btn--sm {
    padding: .5rem;
    min-width: 100px;
  }
}